@{
    ViewBag.Title = "About Us";
}
<h2>Welcome to your new Riding Patner.</h2>
<br/>
<img src="~/pics/race.jpg" style="width:40%;position:center" >
<br />
<br />
<br />
<p>
    Bikers of the world, welcome home to Bike_Co, the latest channel from BIKE_CO.COM in its two- wheeler avatar! Riding on to the success of
    our company and your overwhelming patronage, we now launch our two-wheeler portal BikeCO fuelled by the products to simplify the
    cumbersome and complex ecosystem of bikes.
</p>
<p>
    Now your passion for riding has a new Bikes in Bike_CO with unparalleled quantum of
    unbiased reviews, in-depth search pages, latest products, and more. In short, all that will fuel your appetite for
    the bike of your dreams and let you research, buy, and come together to discuss and talk about our bikes and other accessorise.
<p />
<p>
    This initiative comes in beta version where your insights and feedback will help us improve your youngest biking partner Bike_Co and
    delight you all the more. Thus, each time you read ‘Page not found’, ‘Error’, etc. please bear with us as we are constantly working to
    provide you the best of features and experiences.
</p>